<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">SOme CoOl TiTLe</h5>
          <p>
            <strong>Goal #</strong>: {{goal.id}}</p>
          <p>
          <p>
            <strong>Goal</strong>: {{goal.goal}}</p>
          <p>
          <p>
            <strong>MS1</strong>: {{goal.ms1}}</p>
            <strong>MS2</strong>: {{goal.ms2}}</p>
            <strong>MS3</strong>: {{goal.ms3}}</p>
            <strong>MS4</strong>: {{goal.ms4}}</p>
            <strong>MS5</strong>: {{goal.ms5}}</p>
          <p>
            <strong>End Date:</strong> {{goal.completetionDate}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
